{% extends 'flatpages/default.html' %}
{% load custom_filters %}

<!-- Название у нас будет products -->
{% block title %}
Посты
{% endblock title %}

{% load custom_tags %}
<!-- В контенте на странице мы выводим все товары -->
{% block content %}
    <h1>Все посты (всего - {{ posts|length}})</h1>

    <h3>{{ time_now|date:'d M Y'}}</h3>

<form action="" method="get">
    {{ filterset.form.as_p }}
    <input type="submit" value="Найти" />
</form>


    <hr>
    {% if posts %}
       <table class="table" cellspacing="2" cellpadding="3" border="3" width="50%">
           <tr>
               <td><strong>Заголовок</strong></td>
               <td><strong>Дата публикации</strong></td>
               <td><strong>Описание</strong></td>
               <td><strong>Рейтинг</strong></td>
           </tr>

           {% for post in posts %}
           <tr>
               <td>{{ post.title|censor }}</td>
               <td>{{ post.time_in|date:'d M Y' }}</td>
               <td>{{ post.content_text|censor|truncatewords:8}}</td>
               <td>{{ post.content_rate }}</td>
           </tr>
           {% endfor %}
       </table>
    {% else %}
        <h3>Новости не найдены</h3>
    {% endif %}

<!--   {# Добавляем пагинацию на страницу #}-->

<!--   {# Информация о предыдущих страницах #}-->

    {% if page_obj.has_previous %}
    <a href="?{% url_replace page=1 %}">1</a>
        {% if page_obj.previous_page_number != 1 %}
            ...
            <a href="?{% url_replace page=page_obj.previous_page_number %}">{{ page_obj.previous_page_number }}</a>
        {% endif %}
    {% endif %}

    {# Информация о текущей странице #}
    {{ page_obj.number }}

    {# Информация о следующих страницах #}
    {% if page_obj.has_next %}
        <a href="?{% url_replace page=page_obj.next_page_number %}">{{ page_obj.next_page_number }}</a>
        {% if paginator.num_pages != page_obj.next_page_number %}
            ...
            <a href="?{% url_replace page=page_obj.paginator.num_pages %}">{{ page_obj.paginator.num_pages }}</a>
        {% endif %}
    {% endif %}

{% endblock content %}
