<!--#страница для отоброжения всех новостей!-->

{% extends 'flatpages/default.html' %}

{% block title %} Страница с постами {% endblock title %}

{% load custom_filters %}
{% load custom_tags %}

{% block content %}
    <h1>Тут увидите все посты: статьи и новости.</h1>
    <h3>Найдено {{ news|length }} публикаций.</h3>

    <hr>

    {% if news %}
        <table class="table table-bordered" cellspacing="3" cellpadding="5" border="5" width="45%">
            <tr>
                <td><strong>Название</strong></td>
                <td><strong>Дата публикации</strong></td>
                <td><strong>Категория</strong></td>
            </tr>

            {% for new in news %}
            <tr>
                <td>{{ new.title|censor }}</td>
                <td>{{ new.time_in|date:'d M Y' }}</td>
                <td>{{ new.content|truncatechars:30|censor }}</td>
            </tr>
            {% endfor %}

        </table>

    {% else %}
        <h2> Ничего нет !</h2>

    {% endif %}

    <hr>

{% endblock content %}